<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h1>Rajender Ravi Varma Devulapally</h1>
      <h2> Am a graduate student in Applied Computer Science at Northwest Missouri State University,I am from Warangal Telangana, India. </h2>
      <h3> <a href="https://github.com/RavivarmaDevulapally"> Click here for my GithubProfile </a> <br>
      <a href="https://bitbucket.org/ravivarmadevulapally"> Click here for my BitBucket Profile </a> </h3>

      <br>
      <br>
    </div>
  </div>
</div>